/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f3f3f3;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ff0000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    ul{
        list-style: none;

    }
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #00aaff;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.container-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.produto {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 250px;
    padding: 15px;
    transition: transform 0.3s;
}

.produto:hover {
    transform: scale(1.03);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.produto h3 {
    font-size: 1.1em;
    margin: 10px 0;
}

.produto p {
    font-size: 1.1em;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.produtos{
    display: flex;
    flex-direction: row;
}